<form id="manage-distribution-lists">
    <h3>Add/Edit Distribution List</h3>
    <div style="display:none">
        <text-field name="id">{{id}}</text-field>
    </div>
    Please use the form below to add or remove users to the distribution list
    <br/><br/>
    <h5>Distribution List Name:</h5>
    <text-field name="name" placeholder="Distribution List Name..">{{name}}</text-field>
    <h5>Members</h5>
    <table>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Remove?</th>
        </tr>
        {{#each users}}
            <tr>
                <td>{{displayName}}</td>
                <td>{{company}}</td>
                <td>
                    <checkbox name="remove" value="{{id}}"></checkbox>
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="3">No members yet</td>
            </tr>
        {{/each}}
    </table>

    <h5>Add Members</h5>
    <person-selector name="newMembers" />

    <button name="save-distribution-list" type="action">Save</button>
    <button name="cancel-distribution-list" type="action">Cancel</button>
</form>
